@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

body {
    background-color: rgb(10, 84, 153);
}

.nav-link {
    color: rgb(255, 255, 255);
}

.mainImage {
    width: 30%;
    height: auto;
    margin-left: 35vw;
}

.aboutImage {
    width: 30%;
    height: auto;
    margin-left: 35vw;  
}

h1 {
    margin-top: 15px;
}

h1, h2, h3, h4 {
    font-family: 'Goudy Bookletter 1911', serif;
    color: rgb(255, 166, 0);
    text-align: center;
    font-weight: bolder;
}

th {
    font-family: 'Goudy Bookletter 1911', serif;
    text-align: center;
    font-size: 2vw;
    color: rgb(255, 166, 0);
}

#outOfStock, #adminUpdates {
    color: rgb(255, 0, 0);
}

.total {
    color: rgb(6, 168, 0);
    font-weight: bolder;
}

td {
    font-size: 1.5vw;
    text-align: center;
    color: rgb(255, 166, 0);
    vertical-align: middle;
}

.resize {
    width: 40%;
    height: auto;
}

.productsTable {
    border-collapse: separate;
    border-spacing: 15px;
}

.cartTable {
    border-collapse: separate;
    border-spacing: 100px 15px;
}

.adminTable {
    border-collapse: separate;
    border-spacing: 15px;
}

button {
    border-radius: 10px;
    background-color: #ffbf00;
}

button:hover {
    background-color:#308aff;
    transition: 0.7s;
}

button:active {
    background-color: #00ff55;
}

.returnToProductsButton {
    text-align: center;
}

.loginClass {
    text-align: center;
}

.usernameAndPassword {
    color: rgb(255, 166, 0);
    margin: 1em;
}

.usernameAndPasswordText {
    margin: 1em;
}

.productUpdates {
    color: rgb(255, 255, 255);
    margin-left: .75vw;
}

.buttonsOnCartPage {
    text-align: center;
}

.returnToProductsButton {
    margin: 10px;
}

.proceedToCheckoutButton {
    margin: 10px;
}

.returnToCartButton {
    margin: 10px;
}

.purchaseItemsButton {
    margin: 10px;
}

.aboutText {
    color: rgb(255, 166, 0);
}

.attribution {
    color: rgb(255, 255, 255);
}

#formContainer {
    text-align: center;
}

.placeOrderLabel {
    margin: 1em;
    color: rgb(255, 166, 0);
}

.buttonsOnConfirmationPage, .buttonOnDetailsPage, .buttonsOnOrdersPage {
    text-align: center;
}

.returnToProductsButton, .updateProductsButton, .goToUserProfileButton {
    margin: 10px;
}

p {
    color:rgb(71, 255, 215);
    text-align: center;
}

.linkToDetailsPage:link {
    color: rgb(255, 166, 0);
  }
  
.linkToDetailsPage:visited {
    color: #00ff55;
  }
  
.linkToDetailsPage:hover {
    color:#dc4eff;
  }
  
.linkToDetailsPage:active {
    color: #00ff55;
  }

.ordersData {
    color:rgb(71, 255, 215);
}

.ordersTable {
    margin: 1em;
    border: 5px;
    border-color: orange;
}

.ordersData {
    border-width: 3px;
    border-color: orange;
}

